.back{
  background-color: #1C1E53;
}
.link-color{
  color: #BBBBCB;
}
.text-btn{
  color: #1B1C2B;
}
.bg-color{
  background-color: #FCD980;
}
.bg-color-hover{
  background-color: #FDE4A6;
}
.hero{
  padding: 56px 0 116px 0;
}
.hero-img{
  margin: 25px 0;
}
.bg-main{
  background-color: #F4F6FC;
}
.pb{
  padding-bottom: 90px;
}